<hr>
<kendo-panelbar class="panel-bar">
    <kendo-panelbar-item class="sale" title="KHUYẾN MÃI" icon="copy">
    </kendo-panelbar-item>
    <kendo-panelbar-item class="web-info" title="NỘI DUNG WEBSITE" icon="copy">
    </kendo-panelbar-item>
    <kendo-panelbar-item class="banner" title="QUẢN LÝ BANNER" icon="copy">
    </kendo-panelbar-item>
    <kendo-panelbar-item class="policy" title="CHÍNH SÁCH" icon="copy">
        <kendo-panelbar-item title="Coupon"> </kendo-panelbar-item>
        <kendo-panelbar-item title="Phân nhóm PMH/Coupon"> </kendo-panelbar-item>
        <kendo-panelbar-item title="xxxxxxxxxxx"> </kendo-panelbar-item>
        <kendo-panelbar-item title="xxxxxxxxxxx"> </kendo-panelbar-item>
        <kendo-panelbar-item title="xxxxxxxxxxx"> </kendo-panelbar-item>
        <kendo-panelbar-item title="xxxxxxxxxxx"> </kendo-panelbar-item>
    </kendo-panelbar-item>
    <kendo-panelbar-item class="excel" title="BÁO CÁO EXCEL" icon="copy">
    </kendo-panelbar-item>
</kendo-panelbar>